<div class="container p-5">
    <div class="row text-center mb-3">
        <div class="col">
            <h3>Informazioni Profilo</h3>
        </div>
    </div>
    <hr class="custom-line-bold">

    <div class="d-flex justify-content-center">
        <div class="card p-5 shadow-sm" style="width: 600px;">
            <div>
                <h6>Nome</h6>
                <p>Fabrizio</p>
            </div>
            <div class="mt-4">
                <h6>Cognome</h6>
                <p>Ciotola</p>
            </div>
            <div class="mt-4">
                <h6>Email</h6>
                <p>fabrizio&#64;topdev.com</p>
            </div>
        </div>


    </div>

    <hr class="custom-line-bold">
    <div class="row mt-5">
        <div class="text-center">
            <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#profileModal">
                <div class="new-estate">
                    <b>Modifica</b>
                </div>
            </a>
        </div>
    </div>
</div>



<div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="profileModalLabel">Modifica Profilo</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="ms-5 me-5">
                <div class="modal-body">
                    <div class="mb-4 w-100">
                        <label for="name" class="form-label">Nome</label>
                        <input type="text" class="form-control" placeholder="Nome" aria-label="name" id="name" required>
                    </div>

                    <div class="mb-4 w-100">
                        <label for="surname" class="form-label">Cognome</label>
                        <input type="text" class="form-control" placeholder="Cognome" aria-label="surname" id="surname"
                            required>
                    </div>

                    <div class="mb-4 w-100">
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control" placeholder="Email" aria-label="email" id="email"
                            required>
                    </div>

                    <div class="mb-5 w-100">
                        <label for="password" class="form-label">Nuova Password</label>
                        <div class="input-group  d-flex align-items-center">
                            <input [type]="showPassword ? 'text' : 'password'" class="form-control"
                                placeholder="Password" aria-describedby="password" id="password" required>
                            <span id="password" class="material-symbols-outlined input-group-text"
                                (click)="onShowPassword()">
                                {{showPassword ? 'visibility' : 'visibility_off'}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><b>Annulla</b></button>
                    <button type="button" class="btn btn-primary"><b>Salva</b></button>
                </div>
            </form>
        </div>
    </div>
</div>