.material-symbols-outlined {
  font-size: 32px;
  font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 200, "opsz" 48;
}

.property-image {
  width: 600px;
  height: 600px;
  object-fit: scale-down;
}

.section {
  color: #0077b6;
  cursor: pointer;
}

.link {
  color: #0077b6;
  cursor: pointer;
}

.link b:hover{
  margin-bottom: 2px;
  text-decoration-line: underline;
}

.favorite {
  color: #c1121f;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.favorite:hover {
  color: #c1121f;
  cursor: pointer;
}

.custom-line {
  border: none;
  height: 2px;
  background-color: #000;
  margin: 20px 0;
}

.property-image {
  height: 600px;
  object-fit: scale-down;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  background-size: 200%;
}

.thumb-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.thumb-container img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
}

.scrollable {
  height: 600px;
  overflow-y: auto;
}

.btn-outline-primary{
  border-color: #0077b6;
  color: #0077b6;
}

.btn-outline-primary:hover{
  border-color: #0077b6;
  background-color: #0077b6;
  color: #fff;
}

.btn-primary{
  border-color: #0077b6;
  background-color: #0077b6;
  color: #fff;
  width: 200px;
}