<div class="sidebar">
    <div class="sidebar-logo text-center">
        <span class="icon"> 
            <img class="logo" src="assets/icons/logo.png">
        </span>
        <div class="text">DietiEstate25</div>
        <hr class="custom-line">    
    </div>
    <nav class="nav flex-column">
        @for (item of navDataAdmin; track $index){
            @if(userRole == "admin"){
                <a [routerLink]="[item.routeLink]"  class="nav-link">
                    <span class="icon"> 
                        <span class="material-symbols-outlined">{{item.icon}}</span>
                    </span>
                    <span class="description">{{item.label}}</span>    
                </a>
            }
        }
        
        @for (item of navDataEmployee; track $index) {
                <a [routerLink]="[item.routeLink]"  class="nav-link">
                    <span class="icon"> 
                        <span class="material-symbols-outlined">{{item.icon}}</span>
                    </span>
                    <span class="description">{{item.label}}</span>    
                </a>
        }
    </nav>
</div>