<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <div>
                <div class="row">
                    <div class="col-8">
                        <div id="carousel{{estate.id}}" class="carousel slide" data-bs-ride="carousel" >
                            <div class="carousel-inner">
                                @if(estate.files.length != 0){
                                    @for (file of estate.files; track $index) {
                                        <div class="carousel-item" [ngClass]="{'active': $index === 0}">
                                            <img [src]="file.url" class="property-image w-100 ">
                                        </div>
                                    }
                                    
        
                                    <button class="carousel-control-prev" type="button" [attr.data-bs-target]="'#carousel' + estate.id"  data-bs-slide="prev">
                                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Previous</span>
                                    </button>
                                    <button class="carousel-control-next" type="button" [attr.data-bs-target]="'#carousel' + estate.id" data-bs-slide="next">
                                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                        <span class="visually-hidden">Next</span>
                                    </button>
                                }@else {
                                    <div class="carousel-item active">
                                        <img src="assets/icons/no-foto.png" class="property-image w-100">
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="thumb-container scrollable">
                            @for (file of estate.files; track $index) {
                                <img [src]="file.url" [attr.data-bs-target]="'#carousel' + estate.id" [attr.data-bs-slide-to]="$index" class="rounded mx-auto d-block">
                            }
                        </div>
                    </div>
                </div>

                <div class="mt-5 d-flex section">
                    <div class="d-flex align-items-center me-5"> 
                        <span class="material-symbols-outlined">map</span> 
                        <b>{{estate.title}} - {{estate.location.street}}, {{estate.location.city}} ({{estate.location.countyCode}}) </b>
                    </div>
                    <div class="d-flex align-items-center">  
                        <h5>€ {{(estate.price).toFixed(2)}}</h5> 
                    </div>
                </div>
                
            </div>

            <div>
                <div class="custom-line"></div>
                <h5 class="section">Descrizione</h5>
                <p>{{estate.description}}</p>
            </div>

            <div>
                <div class="custom-line"></div>
                <h5 class="section">Caratteristiche</h5>
                <div class="row">
                    <div class="col">
                        <div class="d-flex align-items-center">  
                            <span class="material-symbols-outlined">home_work</span>
                            <div>
                                <b>Tipologia</b>
                                <p>{{estate.category.name}}</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">  
                            <span class="material-symbols-outlined">bed</span>
                            <div>
                                <b>Camere</b>
                                <p>{{estate.rooms}}</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">  
                            <span class="material-symbols-outlined">bathtub</span>
                            <div>
                                <b>Servizi</b>
                                <p>{{estate.services}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="d-flex align-items-center">  
                            <span class="material-symbols-outlined">energy_savings_leaf</span>
                            <div>
                                <b>Classe Energetica</b>
                                <p>{{estate.energyClass}}</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">  
                            <span class="material-symbols-outlined">contract</span>
                            <div>
                                <b>Contratto</b>
                                <p>{{estate.rental ? "Affitto" : "Vendita"}}</p>
                            </div>
                        </div>

                        <div class="d-flex align-items-center">  
                            <span class="material-symbols-outlined">pan_zoom</span>
                            <div>
                                <b>Mtq</b>
                                <p>{{estate.mtq}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div>
                <div class="custom-line"></div>
                <h5 class="section">Informazioni sul prezzo</h5>
                <div class="mt-auto d-flex">
                    <div class="d-flex align-items-center me-5">  
                        <span class="material-symbols-outlined">sell</span>
                        <div>
                            <b>Prezzo</b>
                            <p>€ {{(estate.price).toFixed(2)}}</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center">  
                        <span class="material-symbols-outlined">leaderboard</span>
                        <div>
                            <b>Prezzo al m²</b>
                            <p>{{(estate.price/estate.mtq).toFixed(2)}} €/m²</p>
                        </div>
                    </div>
                </div>
            </div>
        <!--
        <div class="custom-line">
            <h4>Mappa</h4>
            <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=1%20Grafton%20Street,%20Dublin,%20Ireland+(My%20Business%20Name)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">cat gps tracker</a></iframe></div>
            <h6>Punti di interesse del raggio di 500m</h6>
            @for (poi of estate.location.poi; track $index) {
                - {{poi.category}} 
            }
        </div>
        -->
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>