<div class="container p-5">
    <div class="row text-center ">
        <div class="col">
            <h2>Aggiungi Inserzione</h2>        
        </div>
    </div>
    <hr class="custom-line-bold">
    <!-- INFORMAZIONI GENERALI -->
    <form [formGroup]="estateForm" (ngSubmit)="saveEstate()">
        <div class="row m-3">
            <h4 class="mb-3">Informazioni Generali</h4>
            <div class="col-sm mb-3">
                    <label for="title" class="form-label">Titolo</label>
                    <input type="text" class="form-control" id="title" formControlName="title" required>
            </div>
            <div class="col-sm-2 mb-3">
                <label for="category" class="form-label">Categoria</label>
                <select class="form-select"id="category" formControlName="category">
                    <option value="Appartamento" selected>Appartamento</option>
                </select>
            </div>
            <div class="col-sm-2 mb-3">
                    <label for="contract" class="form-label">Tipo Contratto</label>
                    <select class="form-select" id="contract" formControlName="rental" required>
                        <option value="Affitto" selected>Affitto</option>
                        <option value="Vendita">Vendita</option>
                        </select>
            </div>
            <div class="col-sm-2 mb-3">
                    <label for="amount" class="form-label">Prezzo</label>
                    <input type="number" step="0.01" min="0.00" class="form-control" id="amount" formControlName="price" required>
            </div>
        </div>
    
        <div class="row m-3">
            <div class="col mb-3">
                    <label for="description" class="form-label">Descrizione</label>
                    <textarea class="form-control" id="description" rows="3" formControlName="description" required></textarea>
            </div>
        </div>
    
        <!-- INFORMAZIONI LOCAZIONE -->
        <div class="row m-3">
            <hr class="custom-line">
            <h4 class="mb-3">Informazioni Locazione</h4>
    
            <div class="col-sm mb-3">
                <label for="county" class="form-label">Provincia</label>
                <select class="form-select"id="county" formControlName="county" required>
                    @for (item of counties; track $index) {
                        <option [ngValue]="item.county" (click)="setCities(item)"> {{item.countyCode}} - {{item.county}}</option>
                    }
                </select>
            </div>
            <div class="col-sm mb-3">                
                    <label for="city" class="form-label">Comune</label>
                    @if(isLoading){
                        <div class="spinner-border text-secondary ">
                            <span class="visually-hidden">Loading...</span>
                        </div>  
                    }
                    <select class="form-select" id="city" formControlName="city" required>
                        @for (item of cities; track $index) {
                            <option [ngValue]="item">{{item.postalCode}} - {{item.city}}</option>
                        }
                    </select>
            </div>
        </div>
    
        <div class="row m-3">
            <div class="col-sm-8 mb-3">
                <label for="street" class="form-label">Via</label>
                <input type="text" class="form-control" id="street" formControlName="street" required>
            </div>
            <div class="col-sm-4 mb-3">
                <label for="street-number" class="form-label">N. Civico</label>
                <input type="number" step="1" class="form-control" id="street-number" formControlName="streetNumber" required>
            </div>
        </div>
    
        <!-- INFORMAZIONI SPECIFICHE -->
        <div class="row m-3">
            <hr class="custom-line">
            <h4 class="mb-3">Informazioni Specifiche</h4>
    
            <div class="col-sm-3 mb-3">
                <label for="mtq" class="form-label">Mtq</label>
                <input type="number" step="0.01" min="0.00" class="form-control" id="mtq" formControlName="mtq" required>
            </div>
    
            <div class="col-sm-3 mb-3">
                <label for="rooms" class="form-label">N. Stanze</label>
                <input type="number" step="0.01" min="0.00" class="form-control" id="rooms" formControlName="rooms" required>
            </div>
    
            <div class="col-sm-3 mb-3">
                <label for="services" class="form-label">N. Servizi</label>
                <input type="number" step="0.01" min="0.00" class="form-control" id="services" formControlName="services" required>
            </div>
    
            <div class="col-sm-3 mb-3">
                <label for="energy-class" class="form-label">Classe Energetica</label>
                <select class="form-select" id="energy-class" formControlName="energyClass" required>
                    <option value="A3" selected>A3</option>
                    <option value="A2">A2</option>
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                    <option value="E">E</option>
                    <option value="F">F</option>
                    </select>
                </div>
        </div>
    
        <!-- CARATTERISTICHE AGGIUNTIVE -->
        <div class="row m-3">
            <hr class="custom-line">
            <h4 class="mb-3">Caratteristiche Aggiuntive</h4>
                <div class="col-sm mb-3">
                    <input type="checkbox" class="btn-check" id="btn-check-1" value="Garage" (change)="onCheckboxChange($event)">
                    <label class="btn btn-outline-secondary m-1" for="btn-check-1">Garage</label>
                
                    <input type="checkbox" class="btn-check" id="btn-check-2" value="Piscina" (change)="onCheckboxChange($event)">
                    <label class="btn btn-outline-secondary m-1" for="btn-check-2">Piscina</label>
                
                    <input type="checkbox" class="btn-check" id="btn-check-3" value="Ascensore" (change)="onCheckboxChange($event)">
                    <label class="btn btn-outline-secondary m-1" for="btn-check-3">Ascensore</label>
                
                    <input type="checkbox" class="btn-check" id="btn-check-4" value="Portineria" (change)="onCheckboxChange($event)">
                    <label class="btn btn-outline-secondary m-1" for="btn-check-4">Portineria</label>
                
                    <input type="checkbox" class="btn-check" id="btn-check-5" value="Giardino" (change)="onCheckboxChange($event)">
                    <label class="btn btn-outline-secondary m-1" for="btn-check-5">Giardino</label>
              </div>
        </div>
    
        <!-- UPLOAD FILE -->
        <div class="row m-3">
            <hr class="custom-line">
            <h4 class="mb-3">Foto</h4>
                <app-upload-form></app-upload-form>
        </div> 

        <hr class="custom-line-bold">
        <div class="text-center">
            <button type="submit" style="width: 200px;" class="btn btn-success" [disabled]="estateForm.invalid">Salva</button>
        </div>
    </form>
</div>