<div class="container mt-5">
    <h2 class="text-center mb-4">Accedi o registrati</h2>
    <div class="d-flex justify-content-center">
        <div class="card align-items-center justify-content-center d-flex shadow-sm" style="width: 600px;">
            <form class="mt-5 ms-5 me-5">
                <div class="mb-4 w-100">
                    <label for="email" class="form-label">La tua email</label>
                    <input type="text" class="form-control" placeholder="Email" aria-label="email" id="email" required>
                </div>
    
                <div class="mb-5 w-100">
                    <label for="password" class="form-label">La tua password</label>
                    <div class="input-group  d-flex align-items-center">
                        <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Password" aria-describedby="password" id="password" required>
                        <span id="password" class="material-symbols-outlined input-group-text" (click)="onShowPassword()">
                            {{showPassword ? 'visibility' : 'visibility_off'}}
                        </span>
                    </div>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-3" style="width: 200px;"><b>Continua</b></button>
                </div>
            </form>

            <div class="text-center mb-3">Oppure</div>
            <div class="align-items-center text-center mb-5">
                <button type="button" class="btn w-100 mb-3">Continua con Google</button>
                <a class=" w-100 mb-3" [routerLink]="['/sign-up']"><b>Registrati</b></a>
            </div>
        </div>
    </div>
</div>