.material-symbols-outlined {
    font-size: 17px;
    font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 200, "opsz" 48;
    cursor: pointer;
  }
  

.btn-primary{
    border-color: #0077b6;
    background-color: #0077b6;
    color: #fff;
    width: 200px;
}

.btn-primary:hover{
    border-color: #0077b6;
    background-color: #fff;
    color: #0077b6;
    width: 200px;
}