<div class="sidebar">
    <div class="sidebar-logo text-center">
        <span class="icon"> 
            <img class="logo" src="assets/logo.png">
        </span>
        <div class="text">DietiEstate25</div>
        <hr class="custom-line">
    </div>
    <nav class="nav flex-column">
        @for (item of navData; track $index) {
            <a [routerLink]="[item.routeLink]"  class="nav-link">
                <span class="icon"> 
                    <span class="material-symbols-outlined">{{item.icon}}</span>
                </span>
                <span class="description">{{item.label}}</span>    
            </a>
        }
    </nav>
</div>

<main class="main-contianer">
    <router-outlet />
</main>