<div class="bg-slate-400 fixed z-1 top-0 w-3xs h-screen shadow-md">
    <div class="flex items-center p-2">
        <button class="bg-white text-center w-8 min-w-8 rounded-md text-2xl font-black cursor-pointer border-0">D</button>
        @if (!collapsed) { 
            <div class="ml-10 text-2xl font-bold text-white">DietiEstate25</div>
            <button class="ml-auto cursor-pointer w-8 h-8 rounded-md">
                <span class="material-symbols-outlined bg-white font-black">menu_open</span>
            </button>
        }
    </div>
    <ul class="">
        <li class="">
            @for (item of navData; track $index) {
                <a [routerLink]="[item.routeLink]"  class="">
                    <span class="material-symbols-outlined">
                        {{item.icon}}
                    </span>
                
                    @if(!collapsed){
                        <span class="">{{item.label}}</span>    
                    }
                </a>
            }
        </li>
    </ul>
</div>