<nav class="sidebar navbar navbar-expand-lg" style="cursor: pointer;">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">DietiEstate25</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="d-flex me-5">
        <div class="collapse navbar-collapse">
            <div class="navbar-nav">
                @if(userRole == "user"){
                    @for(item of  navDataUser; track $index){
                            <a [routerLink]="[item.routeLink]"  class="nav-link">
                                <span class="icon"> 
                                    <span class="material-symbols-outlined">{{item.icon}}</span>
                                </span>
                                <span class="description">{{item.label}}</span>    
                            </a>
                    }
                }@else{
                    @for (item of navDataGuest; track $index) {
                        <a [routerLink]="[item.routeLink]"  class="nav-link">
                            <span class="icon"> 
                                <span class="material-symbols-outlined">{{item.icon}}</span>
                            </span>
                            <span class="description">{{item.label}}</span>    
                        </a>
                    }
                }
            </div>
            </div>
        </div>
    </div>
</nav>

