@if(isVisible){
  <div class="modal modal-lg show d-block" tabindex="-1">
    <div class="modal-dialog custom-modal-width">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Storico Offerte</h5>
          <button type="button" class="btn-close" (click)="close()" aria-label="Close"></button>
        </div>
  
        <div class="modal-body table-responsive">
          <h5>Offerte Attive</h5>
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Email</th>
                <th scope="col">Offerte Proposte</th>
                <th scope="col">Stato</th>
                <th scope="col"></th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              @for (item of activeOffers; track $index) {
              <tr style="height: 75px;">
                <th scope="row">{{$index + 1}}</th>
                <td>{{item.updatedAt | date:'yyyy-MM-dd'}}</td>
                <td>{{item.emailUser}}</td>
                <td>{{item.price}}€</td>
                <td>{{translate(item.status)}}</td>
                <td>
                  <label for="new-offer" class="form-label custom-label-width">
                  <input type="number" step="1" class="form-control" placeholder="Controfferta" id="new-offer" [(ngModel)]="counterOffer" required> </label><button class="btn btn-info custom-botton" [disabled]="!counterOffer" 
                  (click)="onSubmitCounterOffer(item,counterOffer!)">Invia</button>
                </td>
                <td><button class="btn btn-success" (click)="onAccept(item.id!)">Accetta</button></td>
                <td><button class="btn btn-danger" (click)="onReject(item.id!)">Rifiuta</button></td>
              </tr>
              }
            </tbody>
          </table>
  
          <hr class="mt-3 custom-line-bold">
          <h5>Storico Offerte</h5>
          <table class="table align-middle">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Email</th>
                <th scope="col">Offerte Proposte</th>
                <th scope="col">Stato</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              @for (item of offers; track $index) {
              <tr style="height: 75px;">
                <th scope="row">{{$index + 1}}</th>
                <td>{{item.updatedAt | date:'yyyy-MM-dd'}}</td>
                <td>{{item.emailUser}}</td>
                <td>{{item.price}}€</td>
                <td>{{translate(item.status)}}</td>
              </tr>
              }
            </tbody>
          </table>
        </div>
  
        <div class="modal-footer d-flex justify-content-start mt-5">
          <form>
            <div class="d-flex justify-content-center">
              <div class="mb-4 w-100 me-4">
                <label for="new-offer" class="form-label">Proposta Esterna</label>
                <input type="number" step="1" class="form-control" placeholder="Offerta" id="new-offer" [(ngModel)]="externalOffer" name="externalOffer" required>
              </div>
              <div class="mb-4 w-100">
                <label for="new-offer-email" class="form-label">Email Esterna</label>
                <input type="text" class="form-control" placeholder="Email" id="new-offer-email" [(ngModel)]="externalEmail" name="externalEmail" required>
              </div> 
            </div>
            <button type="button" class="btn btn-primary" [disabled]="!externalOffer || !externalEmail"(click)="onSave()">Salva</button>
          </form>
        </div>
      </div>
    </div>
  </div>
}

@if (isVisible) {
  <div class="modal-backdrop show"></div>
}
