<div class="row">
    <div class="col">
         <h5>File Caricati</h5>
         @if(filesEdit.length > 0){
            <ul>
                @for(file of filesEdit; track $index){
                    <li>
                        {{ file.name }} ({{ file.size / 1000 }} KB) 
                        <button (click)="removeFile($index, file.name)" type="button" class="btn">
                            <span class="material-symbols-outlined">delete_forever</span>
                        </button>
                    </li>
                }
            </ul>
         }
         @else if (files.length > 0){
            <ul>
                @for(file of files; track $index){
                    <li>
                        {{ file.name }} ({{ file.size / 1000 }} KB) 
                        <button (click)="removeFile($index, file.name)" type="button" class="btn">
                            <span class="material-symbols-outlined">delete_forever</span>
                        </button>
                    </li>
                }
            </ul>
        }@else {
            <p>Nessun file presente</p>
        }
    </div>

    <div class="col">
        <label for="fileInput">
            <div  class="dropzone"  [ngClass]="{'active': dropzoneActive}"  (drop)="handleDrop($event)" 
                (dragover)="$event.preventDefault()" 
                (dragleave)="dropzoneState(false)"
                (dragenter)="dropzoneState(true)">
            
                    <p>Trascina qui i tuoi file oppure clicca per selezionare</p>
                    <span class="material-symbols-outlined" style="color: #1b263b; font-size: 42px;">
                        cloud_upload
                    </span>
            </div>
        </label>
        <input type="file" id="fileInput" multiple (change)="handleDrop($event)" hidden accept=".jpg, .png, .jpeg" required>
    </div>
</div>