.custom-line-bold {
  border: none;
  height: 2px;
  background-color: #415a77;
  margin: 10px 0 10px;
}

.scrollable {
  height: 600px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 10px;
}

.limited-text {
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.property-image {
  width: 350px;
  height: 250px;
  object-fit: scale-down;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
  background-size: 200%;
}

.material-symbols-outlined {
  font-size: 32px;

  font-variation-settings: "FILL" 0, "wght" 0, "GRAD" 200, "opsz" 48;
}

.favorite {
  color: #c1121f;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.title {
  color: #0077b6;
  font-weight: bold;
}

.btn-outline-primary {
  border-color: #0077b6;
  color: #0077b6;
}

.btn-outline-primary:hover {
  border-color: #0077b6;
  background-color: #0077b6;
  color: #fff;
}

.btn-primary {
  border-color: #0077b6;
  background-color: #0077b6;
  color: #fff;
  width: 200px;
}

@media (max-width: 950px) {
  .offer b {
    display: none;
  }

  .delete b {
    display: none;
  }

  .edit b {
    display: none;
  }

  .new-estate b {
    display: none;
  }
}
